<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section>
        <header>
            <a href="#"><img class="logo" src="images/logo.png" alt=""></a>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="/menu">Menu</a></li>
                <li><a href="#">What's New</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </header>

        <div class="container mt-3">
            <div class="card" style="width: 18rem;" th:each="product : ${productList}">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" th:text="${product.name}"></h5>
                    <p class="card-text" th:text="${product.description}"></p>
                    <p class="card-text" th:text="${product.price}"></p>
                    <a href="#" class="btn btn-success">Buy Now</a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>